In [53]:
class Person:
    def __init__(self, name):
        self.name = name

    @property
    def name(self):
        return f"My name is {self.__name}, {self.__age}"

    @name.setter
    def name(self, val):
        print("set_name", val)
    
        if isinstance(val[0], str):
            self.__name = val[0]
        else:
            raise Exception("wrong type")

        if isinstance(val[1], int):
            self.__age = val[1]
        else:
            raise Exception("wrong type")
    
    @name.deleter
    def name(self):
        print("delete name attr")
        del self.__name

In [55]:
walter = Person(("walter", 99))

set_name ('walter', 99)

In [56]:
Person.__dict__, walter.__dict__

(mappingproxy({'__module__': '__main__',
               '__init__': <function __main__.Person.__init__(self, name)>,
               'name': <property at 0x10b799c10>,
               '__dict__': <attribute '__dict__' of 'Person' objects>,
               '__weakref__': <attribute '__weakref__' of 'Person' objects>,
               '__doc__': None}),
 {'_Person__name': 'walter', '_Person__age': 99})

In [3]:
walter.name

'My name is ww'

In [4]:
del walter.name

delete name attr

In [5]:
walter.attr = "qwerty"

In [6]:
walter.attr

'qwerty'

In [7]:
del walter.attr

In [9]:
walter = Person(("ww", 99))

set_name ('ww', 99)

In [10]:
walter.name

'My name is ww, 99'

In [13]:
walter._Person__name = 123

In [14]:
walter.name

'My name is 123, 99'

In [15]:
class PersonName:
    def __init__(self, name):
        self.__name = name
        self.__age = 99

    @property
    def name(self):
        return f"My name is {self.__name}, {self.__age}"

In [16]:
ww = PersonName("WW")

In [17]:
ww.name

'My name is WW, 99'

In [18]:
ww.name = ("123", 88)

AttributeError: property 'name' of 'PersonName' object has no setter

In [19]:
def make_hash_from_password(password):
    return hash(password)


class User:
    def __init__(self, login, password):
        self.__login = login
        self.password_hash = None
        self.password = password

    @property
    def login(self):
        """name is read-only"""
        return self.__login

    @property
    def password(self):
        raise AttributeError("Password is write-only")

    @password.setter
    def password(self, plaintext):
        self.password_hash = make_hash_from_password(plaintext)

In [20]:
user = User("login", "12345")

In [21]:
user.password

AttributeError: Password is write-only

In [22]:
user.password_hash

5133331240994698087

In [23]:
user.password = "98765"

In [24]:
user.password_hash

6118563397097876418

In [25]:
user.password

AttributeError: Password is write-only

In [29]:
class Attr:
    def __set_name__(self, owner, name):
        print(f"{owner=}, {name=}")
        self.name = name


class Container:
    x = Attr()  # Automatically calls: x.__set_name__(A, "x")
    y = Attr()

owner=<class '__main__.Container'>, name='x'
owner=<class '__main__.Container'>, name='y'

In [27]:
cont = Container()

In [28]:
cont.x

In [36]:
class Animal:
    def __init__(self, name):
        self.name = name

In [34]:
tiger = Animal("tiger")

In [35]:
tiger()

TypeError: 'Animal' object is not callable

In [37]:
class Animal:
    def __init__(self, name):
        self.name = name

    def __call__(self):
        print("Animal", self.name)

In [38]:
tiger = Animal("tiger")

In [39]:
tiger()

Animal tiger

In [40]:
def func():
    return 42

In [41]:
func()

42

In [42]:
func.__call__

In [45]:
class AttrAccess:
    name = "cls_attribut_access"

    def __init__(self, val):
        self.val = val

    def __getattr__(self, name):
        print(f"__getattr__ {name=}")

        raise AttributeError(f"no attr {name}")
        # return super().__getattr__(name)  # - error

    def __getattribute__(self, name):
        print(f"__getattribute__ {name=}")
        
        return super().__getattribute__(name)
            
    def __setattr__(self, name, val):
        print(f"__setattr__ {name=}, {val=}")
        
        return super().__setattr__(name, val)
    
    def __delattr__(self, name):
        print(f"__delattr__ {name=}")
        
        return super().__delattr__(name)

    
attr = AttrAccess(42)

__setattr__ name='val', val=42

In [46]:
attr.val

__getattribute__ name='val'

42

In [47]:
attr.wrong

__getattribute__ name='wrong'
__getattr__ name='wrong'

AttributeError: no attr wrong

In [48]:
attr.wrong = "wrong"

__setattr__ name='wrong', val='wrong'

In [50]:
attr.wrong

__getattribute__ name='wrong'

'wrong'

In [51]:
del attr.wrong

__delattr__ name='wrong'

In [57]:
class A:
    pass

class B(A):
    pass

class C(A):
    pass

class D(B, C):
    pass

D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [58]:
class E(A, C):
    pass

TypeError: Cannot create a consistent method resolution
order (MRO) for bases A, C

In [79]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age

        print(f"Person.init({self=}, {name=}, {age=})")

    @property
    def age(self):
        return self.__age

    def eat(self):
        print(f"Person.eat({self=}, {self.name=}, {self.__age=})")

In [80]:
pers = Person("ww", 99)
pers.eat()

Person.init(self=<__main__.Person object at 0x10b497380>, name='ww', age=99)
Person.eat(self=<__main__.Person object at 0x10b497380>, self.name='ww', self.__age=99)

In [81]:
class Student(Person):
    def __init__(self, school, *args, **kwargs):
        print(f"Student.init({self=}, {school=})")
        super().__init__(*args, **kwargs)

        self.school = school

    def eat(self):
        # print(f"Student.eat({self=}, {self.school=}, {self.name=}, {self.__age=})")
        print(f"Student.eat({self=}, {self.school=}, {self.name=}, {self.age=})")

In [82]:
stud = Student("VSU", "ww", 99)

Student.init(self=<__main__.Student object at 0x10b4975f0>, school='VSU')
Person.init(self=<__main__.Student object at 0x10b4975f0>, name='ww', age=99)

In [83]:
stud.eat()

Student.eat(self=<__main__.Student object at 0x10b4975f0>, self.school='VSU', self.name='ww', self.age=99)

In [84]:
stud.__dict__

{'name': 'ww', '_Person__age': 99, 'school': 'VSU'}

In [87]:
class Person:
    def __init__(self, name):
        self.name = name
        print(f"Person.init({self=}, {name=})")

    def eat(self):
        print(f"Person.eat({self=}, {self.name=})")


class Student(Person):
    def __init__(self, school, *args, **kwargs):
        print(f"Student.init({self=}, {school=})")

        super().__init__(*args, **kwargs)
        self.school = school

    def eat(self):
        print(f"Student.eat({self=}, {self.school=}, {self.name=})")


class Teacher(Person):
    def __init__(self, degree, *args, **kwargs):
        print(f"Teacher.init({self=}, {degree=})")

        super().__init__(*args, **kwargs)
        self.degree = degree


class Aspirant(Teacher, Student):
    def __init__(self, *args, **kwargs):
        print(f"Aspirant.init({self=})")

        super().__init__(*args, **kwargs)

In [88]:
aspr = Aspirant(degree="prof", school="VSU", name="ww")

Aspirant.init(self=<__main__.Aspirant object at 0x10ad11cd0>)
Teacher.init(self=<__main__.Aspirant object at 0x10ad11cd0>, degree='prof')
Student.init(self=<__main__.Aspirant object at 0x10ad11cd0>, school='VSU')
Person.init(self=<__main__.Aspirant object at 0x10ad11cd0>, name='ww')

In [89]:
Aspirant.mro()

[__main__.Aspirant,
 __main__.Teacher,
 __main__.Student,
 __main__.Person,
 object]

In [90]:
tch = Teacher(degree="prof", name="ww")

Teacher.init(self=<__main__.Teacher object at 0x10b496600>, degree='prof')
Person.init(self=<__main__.Teacher object at 0x10b496600>, name='ww')

In [91]:
class IntField:
    
    def __get__(self, obj, objtype):
         print(f"get {obj} cls={objtype}")
            
    def __set__(self, obj, val):
        print(f"set {val} for {obj}")
    
    def __delete__(self, obj):
        print(f"delete from {obj}")
        

class TablePerson:
    age = IntField()

    def __init__(self):
        print("init", self)

In [92]:
tb = TablePerson()

init <__main__.TablePerson object at 0x10ab9fb30>

In [93]:
tb.age

get <__main__.TablePerson object at 0x10ab9fb30> cls=<class '__main__.TablePerson'>

In [94]:
TablePerson.age

get None cls=<class '__main__.TablePerson'>

In [95]:
tb.__dict__

{}

In [96]:
TablePerson.__dict__

mappingproxy({'__module__': '__main__',
              'age': <__main__.IntField at 0x10b48b7d0>,
              '__init__': <function __main__.TablePerson.__init__(self)>,
              '__dict__': <attribute '__dict__' of 'TablePerson' objects>,
              '__weakref__': <attribute '__weakref__' of 'TablePerson' objects>,
              '__doc__': None})

In [97]:
tb.age = 99

set 99 for <__main__.TablePerson object at 0x10ab9fb30>

In [98]:
del tb.age

delete from <__main__.TablePerson object at 0x10ab9fb30>

In [101]:
class IntField:  # плохой способ

    def __init__(self):
        self._val = None
    
    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        return self._val
            
    def __set__(self, obj, val):
        print(f"set {val} for {obj}")
        self._val = val    


class TablePerson:
    age = IntField()

    def __init__(self, age):
        print("init", self, age)
        self.age = age

In [102]:
tb = TablePerson(99)

init <__main__.TablePerson object at 0x10b44aed0> 99
set 99 for <__main__.TablePerson object at 0x10b44aed0>

In [103]:
tb.age

get <__main__.TablePerson object at 0x10b44aed0> cls=<class '__main__.TablePerson'>

99

In [104]:
tb.age = 42

set 42 for <__main__.TablePerson object at 0x10b44aed0>

In [105]:
tb.age

get <__main__.TablePerson object at 0x10b44aed0> cls=<class '__main__.TablePerson'>

42

In [106]:
tb2 = TablePerson(456)

init <__main__.TablePerson object at 0x10ada2810> 456
set 456 for <__main__.TablePerson object at 0x10ada2810>

In [108]:
tb2.age, tb.age

get <__main__.TablePerson object at 0x10ada2810> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10b44aed0> cls=<class '__main__.TablePerson'>

(456, 456)

In [109]:
getattr(tb2, "age")

get <__main__.TablePerson object at 0x10ada2810> cls=<class '__main__.TablePerson'>

456

In [110]:
getattr(tb2, "age123", "qwert")

'qwert'

In [111]:
hasattr(tb2, "age"), hasattr(tb2, "age1234334")

get <__main__.TablePerson object at 0x10ada2810> cls=<class '__main__.TablePerson'>

(True, False)

In [117]:
class IntField:  # плохой способ

    def __init__(self):
        self._name = "_hidden_age"
    
    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        if obj is None:
            return

        return getattr(obj, self._name)
            
    def __set__(self, obj, val):
        print(f"set {val} for {obj}")
        if not isinstance(val, int):
            raise ValueError()

        setattr(obj, self._name, val)


class TablePerson:
    age = IntField()
    year = IntField()

    def __init__(self, age, year):
        print("init", self, age, year)
        self.age = age
        self.year = year

In [113]:
tb1 = TablePerson(99)
tb2 = TablePerson(77)

init <__main__.TablePerson object at 0x10b4a44a0> 99
set 99 for <__main__.TablePerson object at 0x10b4a44a0>
init <__main__.TablePerson object at 0x10ad50e60> 77
set 77 for <__main__.TablePerson object at 0x10ad50e60>

In [114]:
tb1.age, tb2.age

get <__main__.TablePerson object at 0x10b4a44a0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad50e60> cls=<class '__main__.TablePerson'>

(99, 77)

In [116]:
tb1.__dict__, tb2.__dict__

({'_hidden_age': 99}, {'_hidden_age': 77})

In [118]:
tb1 = TablePerson(99, 1900)
tb2 = TablePerson(77, 1834)

init <__main__.TablePerson object at 0x10ad11ee0> 99 1900
set 99 for <__main__.TablePerson object at 0x10ad11ee0>
set 1900 for <__main__.TablePerson object at 0x10ad11ee0>
init <__main__.TablePerson object at 0x10acb0f80> 77 1834
set 77 for <__main__.TablePerson object at 0x10acb0f80>
set 1834 for <__main__.TablePerson object at 0x10acb0f80>

In [119]:
tb1.age, tb1.year, tb2.age, tb2.year

get <__main__.TablePerson object at 0x10ad11ee0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad11ee0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10acb0f80> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10acb0f80> cls=<class '__main__.TablePerson'>

(1900, 1900, 1834, 1834)

In [120]:
tb1.age = 123456

set 123456 for <__main__.TablePerson object at 0x10ad11ee0>

In [121]:
tb1.age, tb1.year, tb2.age, tb2.year

get <__main__.TablePerson object at 0x10ad11ee0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad11ee0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10acb0f80> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10acb0f80> cls=<class '__main__.TablePerson'>

(123456, 123456, 1834, 1834)

In [122]:
tb1.__dict__

{'_hidden_age': 123456}

In [130]:
class IntField:

    def __set_name__(self, class_type, name):
        self._name = f"_hidden_int_{name}"
    
    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        if obj is None:
            return

        return getattr(obj, self._name)
            
    def __set__(self, obj, val):
        print(f"set {val} for {obj}")
        if not isinstance(val, int):
            raise ValueError()

        setattr(obj, self._name, val)


class TablePerson:
    age = IntField()
    year = IntField()

    def __init__(self, age, year):
        print("init", self, age, year)
        self.age = age
        self.year = year

In [131]:
tb1 = TablePerson(99, 1900)
tb2 = TablePerson(77, 1834)

init <__main__.TablePerson object at 0x10ad11ee0> 99 1900
set 99 for <__main__.TablePerson object at 0x10ad11ee0>
set 1900 for <__main__.TablePerson object at 0x10ad11ee0>
init <__main__.TablePerson object at 0x10ad12cc0> 77 1834
set 77 for <__main__.TablePerson object at 0x10ad12cc0>
set 1834 for <__main__.TablePerson object at 0x10ad12cc0>

In [132]:
tb1.age, tb1.year, tb2.age, tb2.year

get <__main__.TablePerson object at 0x10ad11ee0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad11ee0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad12cc0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad12cc0> cls=<class '__main__.TablePerson'>

(99, 1900, 77, 1834)

In [133]:
tb1.__dict__

{'_hidden_int_age': 99, '_hidden_int_year': 1900}

In [134]:
tb1.year = 5678

set 5678 for <__main__.TablePerson object at 0x10ad11ee0>

In [135]:
tb1.age, tb1.year, tb2.age, tb2.year

get <__main__.TablePerson object at 0x10ad11ee0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad11ee0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad12cc0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x10ad12cc0> cls=<class '__main__.TablePerson'>

(99, 5678, 77, 1834)

In [136]:
class Person:
    pass

In [137]:
type(Person())

__main__.Person

In [139]:
type(1), type({1: 11})

(int, dict)

In [140]:
type(func)

function

In [141]:
type(Person)

type

In [147]:
isinstance(type, object), isinstance(Person(), object), isinstance(Person, object), issubclass(Person, dict)

(True, True, True, False)

In [146]:
issubclass(type, object), issubclass(object, type), isinstance(object, type)

(True, False, True)

In [148]:
isinstance(object, object)

True

In [149]:
isinstance(type, type)

True

In [142]:
class A:
    pass

class B(A):
    pass

In [150]:
class Foo:
    name = "foo_name"

    def __init__(self, val):
        self.val = val

In [151]:
Bar = type("Bar", (Foo,), {"age": 99, "print": lambda x: print(x)})

In [152]:
b = Bar(20)

In [153]:
b.__dict__

{'val': 20}

In [154]:
Bar.__dict__

mappingproxy({'age': 99,
              'print': <function __main__.<lambda>(x)>,
              '__module__': '__main__',
              '__doc__': None})

In [156]:
b.print()

<__main__.Bar object at 0x10b0c8e30>

In [157]:
b

In [159]:
Bar.print(b)

<__main__.Bar object at 0x10b0c8e30>

In [160]:
b.print.__self__

In [161]:
b.print.__func__

In [163]:
b.name

'foo_name'

In [164]:
Bar.mro()

[__main__.Bar, __main__.Foo, object]

In [165]:
class AMeta(type):
    def __new__(mcs, name, bases, classdict, **kwargs):
        cls = super().__new__(mcs, name, bases, classdict)
        print('Meta __new__', cls)

        return cls

    def __init__(cls, name, bases, classdict, **kwargs):
        print('Meta __init__', cls, name, bases, classdict)
        super().__init__(name, bases, classdict, **kwargs)

    def __call__(cls, *args, **kwargs):
        print('Meta __call__', cls, args, kwargs)
        return super().__call__(*args, **kwargs)

    @classmethod
    def __prepare__(mcs, name, bases, **kwargs):
        print('Meta __prepare__', mcs, name, bases, kwargs)
        
        return {'added_attr_a': 2, 'added_attr_b': 99}

In [166]:
class Person(metaclass=AMeta):
    age = 99

    def __new__(cls, *args, **kwargs):
        inst = super().__new__(cls)
        print(f"Person.__new__, {cls=}", inst)
        return inst

    def __init__(self, name):
        print("Person.__init__", name, self)
        self.name = name

Meta __prepare__ <class '__main__.AMeta'> Person () {}
Meta __new__ <class '__main__.Person'>
Meta __init__ <class '__main__.Person'> Person () {'added_attr_a': 2, 'added_attr_b': 99, '__module__': '__main__', '__qualname__': 'Person', 'age': 99, '__new__': <function Person.__new__ at 0x10b92df80>, '__init__': <function Person.__init__ at 0x10b912de0>, '__classcell__': <cell at 0x10b4a6680: AMeta object at 0x7fb72ed80450>}

In [167]:
Person.__dict__

mappingproxy({'added_attr_a': 2,
              'added_attr_b': 99,
              '__module__': '__main__',
              'age': 99,
              '__new__': <staticmethod(<function Person.__new__ at 0x10b92df80>)>,
              '__init__': <function __main__.Person.__init__(self, name)>,
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': None})

In [168]:
ww = Person("walter")

Meta __call__ <class '__main__.Person'> ('walter',) {}
Person.__new__, cls=<class '__main__.Person'> <__main__.Person object at 0x10b966840>
Person.__init__ walter <__main__.Person object at 0x10b966840>

In [169]:
Other = AMeta("Other", (Person,), {})

Meta __new__ <class '__main__.Other'>
Meta __init__ <class '__main__.Other'> Other (<class '__main__.Person'>,) {}

In [171]:
Other.mro

In [172]:
AMeta(1)

TypeError: AMeta.__new__() missing 2 required positional arguments: 'bases' and 'classdict'

In [181]:
class Singleton:
    _instance = None
    
    def __new__(cls, *args, **kwargs):
        if cls._instance is None:
            cls._instance = super().__new__(cls)
        return cls._instance


class Animal(Singleton):
    def __init__(self, name):
        print("Animal", name)
        self.name = name

In [182]:
s1 = Animal("tiger")

Animal tiger

In [183]:
id(s1)

4489289440

In [184]:
s2 = Animal("zebra")

Animal zebra

In [186]:
id(s2)

4489289440

In [187]:
s1 is s2

True

In [188]:
s1.name

'zebra'

In [199]:
class SingletonMeta(type):
    _instances = {}

    def __call__(cls, *args, **kwargs):
        print("SingletonMeta", cls)

        if cls not in cls._instances:
            cls._instances[cls] = super().__call__(*args, **kwargs)

        return cls._instances[cls]


class DBConnector(metaclass=SingletonMeta):
    def __init__(self, dbname):
        print("DBConn", dbname)
        self.dbname = dbname


class HttpConnector(metaclass=SingletonMeta):
    def __init__(self, name):
        print("Http", name)
        self.name = name

In [200]:
conn1 = DBConnector("mysql")

SingletonMeta <class '__main__.DBConnector'>
DBConn mysql

In [193]:
conn2 = DBConnect
or("posgre")

SingletonMeta <class '__main__.DBConnector'>

In [201]:
conn1 is conn2, conn1.dbname, conn2.dbname

(False, 'mysql', 'mysql')

In [196]:
DBConnector.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.DBConnector.__init__(self, dbname)>,
              '__dict__': <attribute '__dict__' of 'DBConnector' objects>,
              '__weakref__': <attribute '__weakref__' of 'DBConnector' objects>,
              '__doc__': None})

In [197]:
DBConnector._instances

{__main__.DBConnector: <__main__.DBConnector at 0x10beb1370>}

In [198]:
SingletonMeta._instances

{__main__.DBConnector: <__main__.DBConnector at 0x10beb1370>}

In [202]:
http1 = HttpConnector("tcp")

SingletonMeta <class '__main__.HttpConnector'>
Http tcp

In [203]:
http2 = HttpConnector("upd")

SingletonMeta <class '__main__.HttpConnector'>

In [204]:
http1 is http2

True

In [205]:
http1

In [206]:
SingletonMeta._instances

{__main__.DBConnector: <__main__.DBConnector at 0x10b95be00>,
 __main__.HttpConnector: <__main__.HttpConnector at 0x10b965d60>}